* {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    --gradient-dark: #B6E8F1;
    --gradient-bright: #FFE4D4;
    --call-to-action: #fce38a;
    --text-color: #333333;
    --tab-bgr: #f5fafa;
    --bad-answer: #ff6b6b;
    --good-answer: #58D68D;
}

@font-face {
    font-family: 'Quicksand';
    src: url('assets/Quicksand/Quicksand-VariableFont_wght.ttf');
}

button {
    cursor: pointer;
    font-family: 'Quicksand';
}

html {
    height: 100%;
    color: var(--text-color);
    background-color: var(--gradient-dark);
    background-image: linear-gradient(135deg, var(--gradient-dark), var(--gradient-bright));
    display: grid;
    place-items: center;
}

.wrapper {
    font-family: 'Quicksand';
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: grid;
    place-items: center;
}

.quiz_tab {
    height: 40rem;
    width: 46rem;
    background-color: var(--tab-bgr);
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#question {
    padding: 2rem 0;
}

.answer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    padding: 2rem 0;
}

.one_answer {
    height: 100%;
    width: 100%;
    background-color: white;
    border: unset;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button:hover {
    background-color: var(--call-to-action);
}

.button_bar {
    display: flex;
    gap: 2rem;
}

.action_button {
    background-color: white;
    border: unset;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.correct {
    background-color: var(--good-answer);
}

.correct:hover {
    background-color: var(--good-answer);
}

.incorrect {
    background-color: var(--bad-answer);
}

.incorrect:hover {
    background-color: var(--bad-answer);
}

#confettiCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* ich kann trotzdem weiter alles anklicken */
  z-index: 5;
}

.shake {
    animation-name: shake;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-iteration-count: 1;
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}